.game{
  margin-left: 50px;
  display: inline-block;
  gap: 20px;
}
#rock , #paper , #scissors {
  background-color: darkgray;
  width: 160px;
  height:160px;
  border-radius: 50%;
  font-size: 35px;
}
body{
  background-color: black;
}
.anwser{
  color: white;
}
#anwsercomp{
  font-size: 40px;
}
#anwserp{
  font-size: 40px;
}
section{
  display: flex;
}
.count{
  color: white;
  font-size: 30px;
  border: 2px solid green;
}
.resetBTN , .auto-play{
  font-size: 40px;
  margin-top: 20px;
  font-weight: bold;
  background-color: red;
  border: none;
  border-radius: 4px;
  cursor: grab;
}
.count{
  display: flex;
  gap: 50px;
}
.auto-play{
  margin: 20px;
  background-color: #ffffff;
}
